<div id="login">

  <div id="container">

     

    <div class="row">
        <div class="input-field col s6">
          <input [(ngModel)]="nameEmpresa.emailEmpresa" id="name" type="text" class="validate">
          <label class="active" for="name">E-mail / Empresa</label>
        </div>
      </div>

      <div class="row">
          <div class="input-field col s6">
            <input [(ngModel)]="nameEmpresa.senha" id="senha" type="password" class="validate">
            <label class="active" for="senha">Senha</label>
          </div>
        </div>
  
        <div id="lembrarSenha">
        <form action="#">
          <p>
            <label>
              <input type="checkbox" />
              <span>Lembrar senha</span>
            </label>
          </p>
          </form>
        </div>

        
          <div id="EsqueciSenha">

          
          
          
          <button type="button"> Esqueci minha senha </button>

        </div>

        
        <div id="BtnEntrar">
          <button  type="button" (click)="login()">Entrar</button>
      
        </div>
  
  </div>
      </div>