 
     
    
    <div id="SearchPrincipal">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><img src="./assets/lupa.png" width="38px"></span>
    </div>
        <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Search" aria-describedby="basic-addon1">
    <div id="bttPesquisa">
        <button > Pesquisar </button>
  </div>
  </div>
</div>

          



<div class="row justify-content-center">
        <div id="bttprincipal">
        <nav>
                <div class="nav-wrapper">
                  <div id="img"><a href="" class="brand-logo right"><img src="./assets/house.png"/></a></div>
                  <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a [routerLink]="['./../../lista1']">Lista de funcionários</a></li>
                   
                    <li><a [routerLink]="['./../../../cadastrofunc']">Cadastro de funcionários</a></li>
                    
                    <li><a [routerLink]="['./../../cadastroadm']">Cadastro de Administrador</a></li>

                    <li><a [routerLink]="['./../../loginUser']">Cadastro de Usuário</a></li>
                  </ul>
                </div>
              </nav>
            </div>
                    
<!--
<div id="bttprincipal">
<div id="listaFuncionarios" >
        <a [routerLink]="['./../../lista1']" >Lista de funcionários</a>
</div>
<div id="listacadastro">
    <a [routerLink]="['./../../../cadastrofunc']" >Cadastro de funcionários</a>
</div>
<div id="listaCadasAdm">
    <a [routerLink]="['./../../cadastroadm']">Cadastro de Administradores</a>

</div>

-->

</div>

 -->
      <!--      -->


 <!--
<div id="bgModal"></div>
<div class="box">
<div id="img">
<a href="#" id="close">x</a>
<div id="backgroundBox">
<h3>Cadastro</h3>
</div>
<div id="cadastro">
<form id="cadastroInput">

  <br>
  
<br>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" [(ngModel)]="nome" class="form-group" id="nome" name="nome" type="text" placeholder="Nome" required/>
            
<br>&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" [(ngModel)]="email" name="email" placeholder="E-mail">
<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" [(ngModel)]="senha" name="senha" placeholder="senha">
<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" [(ngModel)]="urlImagem" name="urlImagem" placeholder="urlImagem">
<br>

<br>&nbsp;&nbsp;&nbsp;&nbsp;<input type="search" list="online-stores" placeholder="Turno">
                <datalist id="online-stores">
                <option value="Primeiro turno">
                <option value="Segundo turno">
                <option value="Terceiro turno">
      
    </datalist>
    
    <br>
   <div class="btncadastrar">     
   <button (click)="addItem()" class="btn btn-block btn-outline-info">Cadastrar</button>
    </div>
</form>
</div>


</div>
</div>
 -->
 <!--      -->


<!-- Body -    -->

<div id="Body">



</div>








